*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(255, 255, 255);
    font-family:Sans-serif, Verdana;
}
.main-card{
    width: 400px;
    height: 600px;
    margin: 50px auto 50px;
    background-color:white;
    text-align: center;
    border: 1px solid rgb(226, 225, 225);
    border-radius: 30px;
    /* box-shadow: 0 2px 10px rgb(0 0 0 / 10%) */
}
.main-card:hover{
    box-shadow:0 2px 3px rgba(0, 0, 0, 0.5)
}
.header-section{
    width: 100%;
    height: 150px;
    background: url(./images/hand-typing-keyboard.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.user-profile-area{
    width: 250px;
    height: 250px;
    margin: auto;
    padding: 20px;
    background: url(./images/Profile.jpg);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    margin-top: -80px;
}
.user-profile-area:hover{
    cursor: pointer;
}

.user-info{
    text-align: center;
    color: rgb(107, 104, 104);
}
.user-info .user-name {
    margin-top: 14px;
}
h1 a{
    text-decoration: none;
    color: rgb(107, 104, 104);
}
h1 a:hover{
        text-decoration: underline;
}
.user-info .occupation-area{
    font-size: 23px;
}
.follow-area{
    display: flex;
    margin: auto 15%;
    margin-top: 35px;
    
}
.follow-area img{
    width: 25px;
    height: 13px;
    margin-right: 5px;
    margin-top: 8px;
}
.follow-area  a{
    text-decoration: none;
    color: rgb(107, 104, 104);
    font-size: 23px;
}
button{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 35px;
    border: 1px solid rgb(71, 71, 233);
    background-color: white;
    font-size: 20px;
}
.follow-area a:hover{
    text-decoration: underline;
}
button a{
    text-decoration: none;
    color: blue;
    padding: 12px 60px;
    border-radius: 35px;
}
#button:hover{
    background-color:#c0d9f0;
    border: 2px solid blue;
}

@media screen and (max-width:500px) {
    body .main-card{
        width: 100%;
    }
}

@media screen and (max-width:400px){
    body .main-card{
        width: 95%;
        height: 600px;
        margin: 20px auto 0;
}
.user-profile-area{
    width: 210px;
    height: 200px;
    margin: auto;
    padding: 20px;
    background: url(./images/Profile.jpg);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    margin-top: -80px;
}
}